﻿.CustomComboBoxStyle .ajax__combobox_textboxcontainer input {
    background-color: #FCFCFC;
    border: solid 1px Blue;
    border-right: 0px none;
    border-color: ButtonFace;
    bottom: 100%;
    
    
}
.CustomComboBoxStyle .ajax__combobox_buttoncontainer button {
    background-color: #ADD8E6;
    border-color: ButtonFace;
    bottom: 100%;
}

.CustomComboBoxStyle .ajax__combobox_itemlist
{
    bottom: 100%;
}
   
.footer
{
 width: 100%;
 float:left;
}

.CustomComboBoxStyle
{
    background-color: #ADD8E6;
    border-right: 0px none ButtonFace;
    bottom: 100%;
    border-left-color: ButtonFace;
    border-top-color: ButtonFace;
    border-bottom-color: ButtonFace;
    margin-left: 0;
}

