﻿.linkbuttons {
    background:none!important;
     border:none; 
     padding:0!important;
    /*border is optional*/
     color: Green;
}

.linkbuttonsred {
    background:none!important;
     border:none; 
     padding:0!important;
    /*border is optional*/
     color: Red;
}

.linkbuttonsyellow 
{
    background:none!important;
     border:none; 
     padding:0!important;
    /*border is optional*/
     color: Orange;
}