﻿.roundedbuttons
{
    width:70px;
    height:30px;
    border-radius:15px;
    font-size:10px;
    font-weight:bolder;
    color:#000000;
    text-align:center;
}

.showbutton
{
    width:90px;
    height:30px;
    border-radius:15px;
    font-size:10px;
    font-weight:bolder;
    color:#000000;
    text-align:center;
    background:#ADD8E6
}