﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SelectTerm.aspx.cs" Inherits="ENS492.SelectTerm"
    MasterPageFile="MasterPage.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div>
    <table style="width:100%;"><tr><td class="style4">&nbsp;</td><td class="style3">&nbsp;</td><td>
        &nbsp;</td></tr><tr><td class="style4">
            <asp:LinkButton ID="LinkButton1" runat="server" Font-Bold="True" 
                ForeColor="#660033">Enter Current Term:</asp:LinkButton>
            </td><td class="style3">
                <asp:TextBox placeholder="Ex: 201101, 201102 etc." ID="TextBox1" runat="server" Height="29px"></asp:TextBox>
            </td><td>
                <asp:Button ID="Button1" runat="server" Text="Submit" onclick="Button1_Click" />
            </td></tr><tr><td class="style2" colspan="3">
            <asp:Label ID="Label1" runat="server" Text="Label" Visible="False"></asp:Label>
            </td></tr></table>

        
    </div>
    
    
</asp:Content>
<asp:Content ID="Content2" runat="server" contentplaceholderid="head">
    <style type="text/css">
        .style2
        {
        }
        .style3
        {
            width: 216px;
        }
        .style4
        {
            width: 155px;
        }
    </style>
</asp:Content>

<asp:Content ID="Content3" runat="server" 
    contentplaceholderid="ContentPlaceHolder3">
        
            <p>
            <img src="Pictures/sabanci_main_menu.gif" alt="" style="height: 35px; width: 200px" />
            </p>
        
        </asp:Content>


