﻿.singletable
{
    border-collapse: collapse;
   border-spacing: 0;
   margin:0px;padding:0px;
}



.singletable td
{
    vertical-align:middle;
	background:-o-linear-gradient(bottom, #6ae4fc 5%, #f2f3fc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6ae4fc), color-stop(1, #f2f3fc) ); 
	background:-moz-linear-gradient( center top, #6ae4fc 5%, #f2f3fc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#6ae4fc", endColorstr="#f2f3fc");	background: -o-linear-gradient(top,#6ae4fc,f2f3fc);

	background-color:#6ae4fc;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:1px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
	height:6px;
	
}

.singletable tr:first-child td{
	background:-o-linear-gradient(bottom, #cece3b 5%, #ffff7c 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cece3b), color-stop(1, #ffff7c) );
	background:-moz-linear-gradient( center top, #cece3b 5%, #ffff7c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cece3b", endColorstr="#ffff7c");	background: -o-linear-gradient(top,#cece3b,ffff7c);

	background-color:#cece3b;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
	
}