﻿.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#f2f3fc;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #6ae4fc 5%, #f2f3fc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6ae4fc), color-stop(1, #f2f3fc) ); 
	background:-moz-linear-gradient( center top, #6ae4fc 5%, #f2f3fc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#6ae4fc", endColorstr="#f2f3fc");	background: -o-linear-gradient(top,#6ae4fc,f2f3fc);

	background-color:#6ae4fc;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:8px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #cece3b 5%, #ffff7c 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cece3b), color-stop(1, #ffff7c) );
	background:-moz-linear-gradient( center top, #cece3b 5%, #ffff7c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cece3b", endColorstr="#ffff7c");	background: -o-linear-gradient(top,#cece3b,ffff7c);

	background-color:#cece3b;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cece3b 5%, #ffff7c 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cece3b), color-stop(1, #ffff7c) );
	background:-moz-linear-gradient( center top, #cece3b 5%, #ffff7c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cece3b", endColorstr="#ffff7c");	background: -o-linear-gradient(top,#cece3b,ffff7c);

	background-color:#cece3b;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}